<script setup>
const props = defineProps({
  battery: {
    required: true
  },
  showExtra: {
    required: false
  }
})
// const image = ref('../../assets/MockGraphClosed.png')
</script>
<template>
  <p>{{ battery.description }}</p>
  <p>{{ battery.date }}</p>
  <div v-show="showExtra === 'true'">More Stuff</div>
  <!-- <img id="graph" src="../../assets/MockGraphClosed.png"> -->
  <img id="graph" src="../../assets/MockGraphOpen.png">
</template>
<style scoped>
img {
  width: 600px
}
</style>
