<script setup>
import { onMounted, ref } from 'vue'
import EventService from '../../services/EventService.js'
const battery = ref(null)
const props = defineProps({
  id: {
    required: true
  },
  showExtra: {
    required: false
  }
})
onMounted(() => {
  EventService.getEvent(props.id)
    .then((response) => {
      console.log(response.data)
      battery.value = response.data
      console.log(battery.value)
    })
    .catch((error) => {
      console.log(error)
    })


})
</script>
<template>
  <div v-if="battery">
    <h1>{{ battery.title }}</h1>
    <div id="nav">
      <router-link :to="{ name: 'BatteryDetails' }">Details</router-link>
      |
      <router-link :to="{ name: 'BatteryMintCertificate' }">Mint Certificate</router-link>
      |
      <router-link :to="{ name: 'BatteryEdit' }">Edit</router-link>
    </div>
    <router-view :battery="battery" />
  </div>
</template>

