<script setup>
import { ref } from 'vue'
// import { mintNFT } from '../../mintNFT.js';

const message = ref('')
const props = defineProps({
  event: {
    required: true
  },
  showExtra: {
    required: false
  }
})

function mint(event) {
  alert('Minting Certificate: ' + message.value)
  // mintNFT("ipfs://QmRGgL8TGdMuDtgNynXp43K5d8oZbMmyVde1fGEook1jcb")
}

</script>
<template>
  <p>Mint confirmation page</p>
  <form id="mint">
    <p>Certificate Name: {{ message }}</p>
    <input v-model="message" placeholder="Battery Certificate Name" />
    <p>Token Id: {{ tokenId }}</p>
    <input v-model="tokenId" placeholder="Token Id" />
    <button class="btn btn-primary" @click.prevent="submitted" @click="mint">Submit!</button>
    <!-- <button class="btn btn-primary" >Submit!</button> -->
  </form>
</template>
