<script setup>
import EventService from '../services/EventService.js'
import BatteryCard from '../components/BatteryCard.vue';
import { onMounted, ref, watchEffect, computed } from 'vue';
const batteries = ref(null)
const totalEvents = ref(0)

onMounted(() => {
  watchEffect(() => {
    // EventService.getEvents(2, props.page)
    EventService.getEvents()
      .then((response) => {
        batteries.value = response.data
      })
      .catch((error) => {
        console.log(error)
      })
  })
})

</script>

<template>
  <h1>Tracked Batteries</h1>

  <div class="events">
    <BatteryCard v-for="battery in batteries" :key="battery.ID" :battery="battery" />
  </div>

  <!-- <div class="pagination"> -->
  <!---->
  <!--   <router-link id="page-prev" :to="{ name: 'EventList', query: { page: page - 1 } }" rel="prev" v-if="page != 1">&#60; Previous</router-link> -->
  <!---->
  <!--   <router-link id="page-next" :to="{ name: 'EventList', query: { page: page + 1 } }" rel="next" v-if="hasNextPage">Next &#62;</router-link> -->
  <!---->
  <!-- </div> -->
</template>

<style scoped>
.events {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.pagination {
  display: flex;
  width: 290px;
  margin-left: 530px
}
.pagination a {
  flex: 1;
  text-decoration: none;
  color: #2c3e50;
}

#page-prev {
  text-align: left;
}

#page-next {
  text-align: right;
}

</style>
