<script setup>
import { onMounted, ref } from 'vue'
import EventService from '../services/EventService.js'
const event = ref(null)
const props = defineProps({
  showExtra: {
    type: Boolean,
    required: false
  }
})
onMounted(() => {
  EventService.getEvent(props.id)
    .then((response) => {
      console.log(response.data)
      event.value = response.data
      console.log(event.value)
    })
    .catch((error) => {
      console.log(error)
    })


})
</script>
<template>
  <div class="about">
    <h1>404 - Not Found</h1>
    <div v-if="showExtra">Show Extra Stuff</div>
  </div>
</template>

<style></style>
