<script setup>
defineProps({
  battery: {
    type: Object,
    required: true
  }
})
</script>

<template>
  <RouterLink class="event-link" :to="{ name: 'BatteryDetails', params: { id: battery.ID } }">
    <div class="event-card">
      <h2>{{ battery.title }}</h2>
      <h4>Description</h4>
      <p>{{ battery.description }}</p>
      <h4>Manufactured Date</h4>
      <p>{{ battery.date }}</p>
    </div>
  </RouterLink>
</template>

<style scoped>
.event-card {
  padding: 20px;
  width: 250px;
  cursor: pointer;
  border: 1px solid #39495c;
  margin-bottom: 18px;
}

.event-card:hover {
  transform: scale(1.01);
  box-shadow: 0 3px 12px 0 rgba(0, 0, 0, 0.2);
}

.event-link {
  color: #2c3e50;
  text-decoration: none;
}
</style>
